﻿@using WebApplication5.scripts;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
@if (ViewBag.Add != null)
{
    <script type="text/javascript" charset="utf-8">
        window.onload = function () {
        alert("@ViewBag.Add");
    }
    </script>
}
<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="~/Home/Index">Trang Chủ</a>
        <span class="breadcrumb-item active">Thông tin sản phẩm</span>
    </div>
</div>
<section class="product-sec">
    @{ var Sach = Session["ListCTS"] as WebApplication5.Models.Sach;}
    <div class="container">
        <h1>@Sach.TenSach</h1>
        <div class="row">
            <div class="col-md-6 slider-sec">
                <!-- main slider carousel -->
                <div id="myCarousel" class="carousel slide">
                    <!-- main slider carousel items -->
                    <div class="carousel-inner">
                        <div class="active item carousel-item" data-slide-number="0">
                            <img src="~/UploadedFiles/@Sach.AnhBia" style="height: 427px;margin-left: 60px;margin-top: 5px;" class="img-fluid">
                        </div>
                    </div>
                    <!-- main slider carousel nav controls -->

                </div>
                <!--/main slider carousel-->
            </div>
            <div class="col-md-6 slider-content">
                <p style="font-family: sans-serif;font-size:large">@Sach.MoTa</p>

                <ul>

                    <li>
                        <span class="name">Giá</span><span class="clm">:</span>
                        <span class="price final">@Sach.GiaBan VND</span>
                    </li>
                    <li>
                        <span class="name">Còn hàng</span><span class="clm">:</span>
                        <span class="price final">@Sach.SoLuongTon</span>
                    </li>
                </ul>
                <div class="btn-sec">
                    @if (Sach.SoLuongTon > 0)
                    {
                        <div class="btn-sec">
                            <button onclick="location.href='@Url.Action("ThemGioHang", "ChiTietSach",new {idSach=Sach.MaSach})'" class="btn">Thêm vào giỏ hàng</button>
                            <button onclick="location.href='@Url.Action("MuaNgay", "ChiTietSach",new {idSach=Sach.MaSach})'" class="btn yellow">Mua ngay</button>
                        </div>}
                    else
                    {
                        <div class="btn-sec">
                            <button disabled class="btn ">Thêm giỏ hàng</button>
                            <button disabled class="btn yellow">Mua ngay</button>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="related-books">
    <div class="container">
        <h2>Chắc bạn cũng sẽ thích những cuốn sách này</h2>
        <div class="recomended-sec">
            @{ var SachCungChuDe = Session["ListCungChuDe"] as List<WebApplication5.Models.Sach>;}
            <div class="row">
                @if (SachCungChuDe != null)
                {
                    foreach (var item in SachCungChuDe)
                    {
                        <div class="col-lg-3 col-md-6">
                            <div class="item">
                                <img src="~/UploadedFiles/@item.AnhBia" alt="img" style="height:250px;width:200px">
                                <h3>@StringExtension.opimizeName(item.TenSach, 20)</h3>
                                <h6><span class="price">@item.GiaBan VND</span></h6>
                                <div class="hover">
                                    <a href="~/ChiTietSach/Index/@item.MaSach">
                                        <span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                                    </a>

                                </div>
                            </div>
                        </div>
                    }
                }


            </div>
        </div>
    </div>
</section>

