﻿@using WebApplication5.scripts;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="breadcrumb">
    <div class="container">
        <a class="breadcrumb-item" href="~/Home/Index">Trang chủ</a>
        <span class="breadcrumb-item active">Trang chủ</span>
    </div>
</div>

<section class="about-sec" style="padding-left:113px">
    <div class="about-img">
        <span class="icon-point percentage">
            <img src="~/Content/images/about-img.jpg" alt="img" style="width:401px;height:477px;margin:20px">
        </span>
    </div>
    <div class="about-content">
        <h2>Về cửa hàng sách,</h2>
        <p>Bạn trẻ? Bạn đam mê du lịch và ham học hỏi nhưng chưa đủ điều kiện để trải nghiệm ? Bạn thích tìm hiểu những nền văn hóa khác nhau, bạn muốn học cách hòa nhập vào một môi trường hoàn toàn mới mà không quá lạc lỏng…hãy đọc sách! </p>
        <p>Đó là cách đơn giản và tiết kiệm nhất để bạn không bị tụt lại phía sau.  </p>
        <div class="btn-sec">
            <a href="~/SachMoi/GetListXemNhieu" class="btn yellow">Cửa hàng sách</a>
            <a href="~/DangNhap/Index" class="btn black">Đăng kí</a>
        </div>
    </div>
</section>
<section class="recomended-sec">
    <div class="container">
        <div class="title">
            <h2>Bán chạy nhất</h2>
            <hr>
        </div>
        @{ var listBanChay = Session["ListSachBanChay"] as List<WebApplication5.Models.Sach>;}
        <div class="row">
            @if (listBanChay != null)
            {
                foreach (var item in listBanChay)
                {
                    <div class="col-lg-3 col-md-6">
                        <div class="item">
                            <img src="~/UploadedFiles/@item.AnhBia" alt="img" style="height:250px;width:200px">
                            <h3>@StringExtension.opimizeName(item.TenSach, 20)</h3>
                            <h6><span class="price">Giá bán: @item.GiaBan VND</span></h6>
                            <div class="hover">
                                <a href="~/ChiTietSach/Index/@item.MaSach">
                                    <span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
        <br>
        <br>
        <div class="btn-sec">
            <a href="~/SachMoi/GetListBanChay" class="btn gray-btn">Xem thêm</a>
        </div>
    </div>
</section>
<section class="recomended-sec">
    <div class="container">
        <div class="title">
            <h2>Sách mới</h2>
            <hr>
        </div>
        @{ var listMoi = Session["ListSachMoi"] as List<WebApplication5.Models.Sach>;}
        <div class="row">
            @if (listMoi != null)
            {
                foreach (var item in listMoi)
                {
                    <div class="col-lg-3 col-md-6">
                        <div class="item">
                            <img src="~/UploadedFiles/@item.AnhBia" alt="img" style="height:250px;width:200px">
                            <h3>@StringExtension.opimizeName(item.TenSach, 20)</h3>
                            <h6><span class="price">Giá bán: t@item.GiaBan VND</span></h6>
                            <div class="hover">
                                <a href="~/ChiTietSach/Index/@item.MaSach">
                                    <span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <br><br>
        <div class="btn-sec">
            <a href="~/SachMoi/GetListMoi" class="btn gray-btn">Xem thêm</a>
        </div>
    </div>
</section>
<section class="recomended-sec">
    <div class="container">
        <div class="title">
            <h2>Phổ biến</h2>
            <hr>
        </div>
        @{ var listXemNhieu = Session["ListSachXemNhieu"] as List<WebApplication5.Models.Sach>;}
        <div class="row">
            @if (listXemNhieu != null)
            {
                foreach (var item in listXemNhieu)
                {
                    <div class="col-lg-3 col-md-6">
                        <div class="item">
                            <img src="~/UploadedFiles/@item.AnhBia" alt="img" style="height:250px;width:200px">
                            <h3>@StringExtension.opimizeName(item.TenSach, 20)</h3>
                            <h6><span class="price">Giá bán: @item.GiaBan VND</span></h6>
                            <h6><span class="view">Lượt xem: @item.LuotXem Lần</span></h6>
                            <div class="hover">
                                <a href="~/ChiTietSach/Index/@item.MaSach">
                                    <span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <br><br>
        <div class="btn-sec">
            <a href="~/SachMoi/GetListXemNhieu" class="btn gray-btn">Xem thêm</a>
        </div>
    </div>
</section>


<section class="features-sec">
    <div class="container">
        <ul>
            <li>
                <span class="icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                <h3>
                    MUA SẮM AN TOÀN
                </h3>
                <h5>
                    Đảm bảo mua sắm an toàn
                </h5>
                <h6>Bạn trẻ? Bạn đam mê du lịch và ham học hỏi nhưng chưa đủ điều kiện để trải nghiệm ? Bạn thích tìm hiểu những nền văn hóa khác nhau, bạn muốn học cách hòa nhập vào một môi trường hoàn toàn mới mà không quá lạc lỏng…hãy đọc sách!</h6>
            </li>
            <li>
                <span class="icon return"><i class="fa fa-reply-all" aria-hidden="true"></i></span>
                <h3>
                    30- NGÀY TRẢ LẠI
                </h3>
                <h5>Hoàn tiền không đảm bảo</h5>
                <h6>Bạn trẻ? Bạn đam mê du lịch và ham học hỏi nhưng chưa đủ điều kiện để trải nghiệm ? Bạn thích tìm hiểu những nền văn hóa khác nhau, bạn muốn học cách hòa nhập vào một môi trường hoàn toàn mới mà không quá lạc lỏng…hãy đọc sách!</h6>
            </li>
            <li>
                <span class="icon chat"><i class="fa fa-comments" aria-hidden="true"></i></span>
                <h3>HỖ TRỢ 24/7</h3>
                <h5>
                    Gọi và nhận tư vấn
                </h5>
                <h6>Bạn trẻ? Bạn đam mê du lịch và ham học hỏi nhưng chưa đủ điều kiện để trải nghiệm ? Bạn thích tìm hiểu những nền văn hóa khác nhau, bạn muốn học cách hòa nhập vào một môi trường hoàn toàn mới mà không quá lạc lỏng…hãy đọc sách!</h6>
            </li>
        </ul>
    </div>
</section>
<section class="offers-sec" style="background:url(../../Content/images/slide1.jpg);">
    <div class="cover"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="detail">
                    <h3>
                        Bán chạy nhất nên được chọn
                    </h3>
                    <h6>

                        Chúng tôi hiện đang cung cấp hàng tấn sách bán chạy nhất và mua chúng
                    </h6>
                    <a href="~/SachMoi/GetListXemNhieu" class="btn blue-btn">
                        xem tất cả sách
                    </a>
                    <span class="icon-point percentage">
                        <img src="~/Content/images/amount.png" alt="">
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="detail">
                    <h3>
                        Kiểm tra cuốn sách mới của chúng tôi
                    </h3>
                    <h6>

                        Chúng tôi hiện đang cung cấp một số giá cả tốt so với các nhà sách khác, đi và kiểm tra
                    </h6>
                    <a href="~/SachMoi/GetListXemNhieu" class="btn blue-btn">Xem tất cả sách</a>
                    <span class="icon-point amount"><img src="~/Content/images/precentagae.png" alt=""></span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonial-sec">
    <div class="container" @*style="background-image:none;"*@>
        <div id="testimonal" @*class="owl-carousel owl-theme"*@>
            <div class="item" @*style="margin-top:350px"*@>
                <h3>Bạn trẻ? Bạn đam mê du lịch và ham học hỏi nhưng chưa đủ điều kiện để trải nghiệm ? Bạn thích tìm hiểu những nền văn hóa khác nhau, bạn muốn học cách hòa nhập vào một môi trường hoàn toàn mới mà không quá lạc lỏng…hãy đọc sách!</h3>
                <div class="box-user">
                    <h4 class="author">Võ Nguyễn Minh Phương</h4>
                    <h4 class="author">Nguyễn Thị Thùy Linh</h4>
                    <span class="country">VietNam</span>
                </div>
            </div>

        </div>
    </div>
    <div class="left-quote">
        <img src="~/Content/images/left-quote.png" alt="quote">
    </div>
    <div class="right-quote">
        <img src="~/Content/images/right-quote.png" alt="quote">
    </div>
</section>
<script src="~/Content/js/owl.carousel.min.js"></script>
