﻿@model WebApplication5.Models.Sach

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAd.cshtml";
}

    <!DOCTYPE html>

    <html>
    <head>
        <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
        </script>
        <link href="~/Content/sach.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
              integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width" />
        <title>Index</title>
    </head>
    <body>

        @*@using (Html.BeginForm("Add","ChuDe",FormMethod.Post))
            {*@

        <h1 style="font-size: 50px;
    font-family: sans-serif;
    margin-top: 5px;
    text-decoration: underline;
    text-align: center">
            Sách
        </h1>
        <div style="width:1300px;height:430px">
            <div style="width:800px;height:425px;margin-left:73px;margin-top:10px;box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); float:left">
                <form  method="post" action="~/Sach/Add" enctype="multipart/form-data">
                    <div style="padding-left:10px;padding-top:10px;width:390px;height:405px;float:left;margin:0">
                        <label style="font-weight:bold">Tên sách :</label><br />
                        @Html.EditorFor(model => model.TenSach, new { htmlAttributes = new { @style = "outline:none; margin-top:5px;margin-bottom:5px; border-radius: 10px;padding:5px;", @id = "name", @placeholder = "Nhập tên sách" } })
                        <br />
                        <p style="color:red">@Html.ValidationMessageFor(model => model.TenSach)</p>
                        <label style="font-weight:bold">Mô tả :</label><br />
                        @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @style = "outline:none; margin-top:5px;margin-bottom:5px; border-radius: 10px;padding:5px;", @id = "name", @placeholder = "Nhập mô tả" } })
                        <br />
                        <label style="font-weight:bold">Ảnh bìa :</label><br />
                        <input type="file" id="file" name="file" style="outline:none; margin-top:5px;margin-bottom:5px; border-radius: 10px;padding:5px;" />

                        <br />
                        <label style="font-weight:bold">Số lượng :</label><br />
                        @Html.EditorFor(model => model.SoLuongTon, new { htmlAttributes = new { @style = "outline:none; margin-top:5px;margin-bottom:5px; border-radius: 10px;padding:5px;", @id = "name", @placeholder = "Nhập số lượng" } })
                        <br />
                        <p style="color:red">@Html.ValidationMessageFor(model => model.SoLuongTon)</p>
                    </div>
                    <div style="padding-top:10px; width:400px;height:405px;float:right;margin:0">
                        <label style="font-weight:bold">Giá bìa:</label><br />
                        @Html.EditorFor(model => model.GiaBan, new { htmlAttributes = new { @style = "outline:none; margin-top:5px;margin-bottom:5px; border-radius: 10px;padding:5px;", @id = "name", @placeholder = "Nhập giá" } })
                        <br />
                        <p style="color:red">@Html.ValidationMessageFor(model => model.GiaBan)</p>
                        <label style="font-weight:bold">Chủ đề:</label><br />
                        @Html.DropDownListFor(model => model.MaChuDe, ViewBag.ChuDe as SelectList, new { @style = "outline:none; margin-top:5px;margin-bottom:5px; border-radius: 10px;padding:5px;", @id = "name", @placeholder = "Nhập giá" })
                        <br />
                        <label style="font-weight:bold">Nhà xuất bản:</label><br />
                        @Html.DropDownListFor(model => model.MaNXB, ViewBag.NXB as SelectList, new { @style = "outline:none; margin-top:5px;margin-bottom:5px; border-radius: 10px;padding:5px;", @id = "name", @placeholder = "Nhập giá" })
                        <br />
                        <label style="font-weight:bold">Tác giả:</label><br />
                        @Html.DropDownListFor(model => model.MaTacGia, ViewBag.TacGia as SelectList, new { @style = "outline:none; margin-top:5px;margin-bottom:5px; border-radius: 10px;padding:5px;", @id = "name", @placeholder = "Nhập giá" })
                        <br />
                        <input type="submit" value="Thêm mới" style="padding: 5px;
width:150px;
margin-top:5px;
    height: 40px;
                    border-radius: 10px;
                    outline: none;
                    color: #fff;
    font-size: 18px;
                    background: #fb2525;" />
                    </div>
                </form>
            </div>



            <div style="padding-left:10px;padding-top:10px; width:350px;height:415px;float:right;margin-top:10px;margin-right:30px; box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3)">
                <form method="post" action="/Sach/TimKiem">
                    <label style="font-weight:bold">Tên sách :</label><br />
                    <input type="text" name="name" style="outline:none; margin-top:5px;margin-bottom:5px; border-radius: 10px;padding:5px;" placeholder="Nhập tên sách" />
                  <br />
                    <label style="font-weight:bold">Tác giả :</label><br />
                    <select style="outline:none; margin-top:5px;margin-bottom:5px; border-radius: 10px;padding:5px;" name="tacgia" id="tacgia">

                        <option value="Khong co" selected>--none--</option>
                        @{var list2 = Session["CBTG"] as List<WebApplication5.Models.TacGia>;
                            foreach (var item in list2)
                            {
                                <option value="@item.MaTacGia">@item.TenTacGia</option>
                            } }

                    </select><br />
                    <label style="font-weight:bold">Thể loại :</label><br />
                    <select style="outline:none; margin-top:5px;margin-bottom:5px; border-radius: 10px;padding:5px;" name="theloai" id="tacgia">

                        <option value="Khong co" selected>--none--</option>
                        @{var list1 = Session["CBCD"] as List<WebApplication5.Models.ChuDe>;
                            foreach (var item in list1)
                            {
                                <option value="@item.MaChuDe">@item.TenChuDe</option>
                            } }

                    </select><br />
                    <input type="submit" value="Tìm kiếm" style="padding: 5px;
width:150px;
margin-top:5px;
    height: 40px;
                    border-radius: 10px;
                    outline: none;
                    color: #fff;
    font-size: 18px;
                    background:  #0000ff;" />
                </form>
               
            </div>
        </div>


        @*<form style="width:800px;height:415px;margin-left:73px;margin-top:10px;box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);" method="post" action="~/Sach/Add" enctype="multipart/form-data">
            <div style="padding-left:10px;padding-top:10px;width:390px;height:405px;float:left;margin:0">
                <label style="font-weight:bold">Tên sách :</label><br />
                @Html.EditorFor(model => model.TenSach, new { htmlAttributes = new { @style = "outline:none; margin-top:5px;margin-bottom:5px; border-radius: 10px;padding:5px;", @id = "name", @placeholder = "Nhập tên sách" } })
                <br />
                <p style="color:red">@Html.ValidationMessageFor(model => model.TenSach)</p>
                <label style="font-weight:bold">Mô tả :</label><br />
                @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @style = "outline:none; margin-top:5px;margin-bottom:5px; border-radius: 10px;padding:5px;", @id = "name", @placeholder = "Nhập mô tả" } })
                <br />
                <label style="font-weight:bold">Ảnh bìa :</label><br />
                <input type="file" id="file" name="file" style="outline:none; margin-top:5px;margin-bottom:5px; border-radius: 10px;padding:5px;" />

                <br />
                <label style="font-weight:bold">Ngày phát hành :</label><br />
                @Html.EditorFor(model => model.NgayCapNhat, new { htmlAttributes = new { @style = "outline:none; margin-top:5px;margin-bottom:5px; border-radius: 10px;padding:5px;", @type = "date", @id = "name", @placeholder = "Nhập phát hành" } })
                <br />
                <p style="color:red">@Html.ValidationMessageFor(model => model.NgayCapNhat)</p>
                <label style="font-weight:bold">Số lượng :</label><br />
                @Html.EditorFor(model => model.SoLuongTon, new { htmlAttributes = new { @style = "outline:none; margin-top:5px;margin-bottom:5px; border-radius: 10px;padding:5px;", @id = "name", @placeholder = "Nhập số lượng" } })
                <br />
                <p style="color:red">@Html.ValidationMessageFor(model => model.SoLuongTon)</p>
            </div>
            <div style="padding-top:10px; width:400px;height:405px;float:right;margin:0">
                <label style="font-weight:bold">Giá bìa:</label><br />
                @Html.EditorFor(model => model.GiaBan, new { htmlAttributes = new { @style = "outline:none; margin-top:5px;margin-bottom:5px; border-radius: 10px;padding:5px;", @id = "name", @placeholder = "Nhập giá" } })
                <br />
                <p style="color:red">@Html.ValidationMessageFor(model => model.GiaBan)</p>
                <label style="font-weight:bold">Chủ đề:</label><br />
                @Html.DropDownListFor(model => model.MaChuDe, ViewBag.ChuDe as SelectList, new { @style = "outline:none; margin-top:5px;margin-bottom:5px; border-radius: 10px;padding:5px;", @id = "name", @placeholder = "Nhập giá" })
                <br />
                <label style="font-weight:bold">Nhà xuất bản:</label><br />
                @Html.DropDownListFor(model => model.MaNXB, ViewBag.NXB as SelectList, new { @style = "outline:none; margin-top:5px;margin-bottom:5px; border-radius: 10px;padding:5px;", @id = "name", @placeholder = "Nhập giá" })
                <br />
                <label style="font-weight:bold">Tác giả:</label><br />
                @Html.DropDownListFor(model => model.MaTacGia, ViewBag.TacGia as SelectList, new { @style = "outline:none; margin-top:5px;margin-bottom:5px; border-radius: 10px;padding:5px;", @id = "name", @placeholder = "Nhập giá" })
                <br />
                <input type="submit" value="Thêm mới" style="padding: 5px;
width:150px;
margin-top:5px;
    height: 40px;
                    border-radius: 10px;
                    outline: none;
                    color: #fff;
    font-size: 18px;
                    background: #fb2525;" />
            </div>
        </form>*@



        <br /><br />
        <table  id="example" class="display" style="width:100%;">
            <thead>
                <tr>
                    <th>Tên sách</th>
                    <th style="width:200px">Mô tả</th>
                    <th style="width:80px">Ngày cập nhật</th>
                    <th>Ảnh bìa</th>
                    <th style="width:20px">SL</th>
                    <th>Giá bán</th>
                    <th>Chủ đề</th>
                    <th>NXB</th>
                    <th>Tác giả</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var db = new BookContext();
                    var list = Session["ListSach"] as List<WebApplication5.Models.Sach>;
                    foreach (var item in list)
                    {
                        <tr>
                            <td>@item.TenSach</td>
                            <td><div id="mota">@item.MoTa</div></td>
                            <td>@item.NgayCapNhat</td>
                            <td><img id="img-book" src="~/UploadedFiles/@item.AnhBia" alt="image"></td>
                            <td>@item.SoLuongTon</td>
                            <td>@item.GiaBan</td>
                            <td>@db.ChuDe.Find(item.MaChuDe).TenChuDe</td>
                            <td>@db.NhaXuaBan.Find(item.MaNXB).TenNXB</td>
                            <td>@db.TacGia.Find(item.MaTacGia).TenTacGia</td>
                            <td>
                                <a href="~/Sach/Update/@item.MaSach">Xem</a>
                                <a href="~/Sach/Xoa/@item.MaSach">Xóa</a>
                            </td>

                        </tr>
                    }
                }


            </tbody>
        </table>@*}*@

        @*<script src="~/scripts/jquery-1.8.0.min.js"></script>*@

        <script src="~/scripts/jquery.validate.min.js"></script>

        <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
    </body>
</html>


